{{#each users}}
<tr>

    <th>{{@index}}</th>
    <th>{{this.name}}</th>
    <th>{{this.email}}</th>
    <th>{{this.gender}}</th>
    <th>{{this.status}}</th>
    <th>
        <a href="/updateUser?id={{this._id}}" class="btn border-shadow update"><span class="text-gradient back"><i class="fas fa-pencil-alt"></i></span></a>
        <a href="/delete/{{this._id}}" class="btn btn-smborder-shadow delete" ><span class="text-gradient back"><i class="fas fa-trash-alt"></i></span></a>
    </th>
</tr>
{{/each}}